# Виртуальное окружение (самое важное)
venv/
ENV/
env/

# Файл с секретами (ключами API)
.env

# Временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Папки IDE (если пользуетесь)
.vscode/
.idea/

# Логи
*.log